{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@assets": "awesomeproject/src/assets",
          "@components": "awesomeproject/src/components",
          "@constants": "awesomeproject/src/constants",
          "@screens": "awesomeproject/src/screens",
          "@utils": "awesomeproject/src/utils"
        }
      }
    ]
  ]
}
